.about .background_anim {
  flex: 1.5;
  width: 100%;
  z-index: 2;
  position: relative;
  margin: auto;
  text-align: center;
}

.about .prez {
  flex: 1.5;
}
.about .cv{
   background: rgba(50,50,50,0.1);
   width: 100%;
   flex: 6;
 }
.about .contact{
  flex: 1;
}
.about .cv .wrapper{
  padding: 20px;
  max-height: 100%;
}
.about .cv .skills{
  width: 100%;
  margin: auto;

}
.about .cv .skills ul{
  width: 50%;
  max-width: 400px;
}


.cv .keywords{
  text-align: justify;
}
.cv .keywords p,
.cv .languages p{
  max-width: 800px;
  margin: auto;

}
.cv .languages p span{
  text-align: center;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: rgb(196, 196, 196);
}
.cv .languages p span:first-of-type{
  text-align: left;
  border: 0;
}
.cv .languages p span:last-of-type{
  text-align: right;
  border: 0;
}
.download_cv {
  height: 70px;
}
.about .contact{
  height: 10%;
}
.contact div{
}

.about p span.skill{
  color: rgb(57, 58, 110);
  text-transform: uppercase;
}
.dev{
  text-align: left
}
.design{
  text-align: right;
  border-left: 1px solid rgb(196, 196, 196);
  margin-left: -1px;
}
